//navbar
{{define "components/navbar"}}
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">ALL</a>
            <iframe src="/user-info" style="display:none" name="user-info"></iframe>
        </nav>
    </div>
{{ end }}